<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <link rel="stylesheet" href="/static/design.css" th:href="@{/design.css}">
</head>
<body>
<div id="TOP"><div th:replace="menu :: menu_template"></div></div>
<div id="separation3"></div>
</br>
</br>
</br>
</br>
</br>
</br>

<div style="width:20%;margin-left:40%;margin-right:40%;">
    <p>Under development (create listing)</p>
</div>
<div th:insert="footer :: footer_template"></div>
</body>
</html>