<div th:fragment="footer_template" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer>
        <div><p1>Address: Lygten 37, 2400 København, Denmark</p1></div><br>
        <div><p1>Telephone: (+45) 46 46 04 00</p1></div><br>
        <div><p1 style="color:black;">Developers: Radu - Alexandru - Dorin - Alexander</p1></div>
        <a href="#TOP">
            <button class="btn-BackOnTop" id="btn-BackOnTop" style="margin-top:7px;">
                Back on top
            </button>
        </a>
    </footer>
</div>