<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RADA Webshop</title>
    <link rel="stylesheet" href="/static/design.css" th:href="@{/design.css}">
</head>
<body>
<div id="TOP"><div th:replace="menu :: menu_template"></div></div>
<div id="separation3"></div>
</br>
</br>
</br>
</br>
</br>
</br>
<div style="float:left;margin-left:10px;">
    <a href="/createListing">
        <button class="btn-CreateListing" id="btn-CreateListing">
            Want to sell something?
        </button>
    </a><br>
    <a href="/api/displayListing">
        <button class="btn-ShowListings" id="btn-ShowListings">
            Want to buy something?
        </button>
    </a>
</div>
<div style="width:20%;margin-left:40%;margin-right:40%;">
    <p>Welcome to the R.A.D.A. online webshop.</p>
    <p>Here you can buy or sell your PC & Laptop components.</p>
    <p>How does it work?</p>
    <p>     - anyone can post their articles;</p>
    <p>     - if you see something you like, contact the seller;</p>
    <p>What does R.A.D.A. stand for you ask?</p>
    <p>It stands for the developer's names.</p>
</div>
<div th:insert="footer :: footer_template"></div>
</body>
</html>